.form-control{
    margin-bottom: 10px;
}


#bug-description input{
    /* width: 200px; */
    height: 100px;
}


.form-div{

    width: 100%;
    float: left;
    margin-left: 10%;
    margin-right: 5%;
    margin-top: 5%;
}

.form-div .form-button{
    color: rgb(15, 3, 3);
    border: 0px;
    width: 80px;
    height: 30px;
}

.form-div .form-button:hover{
    color: rgb(255, 255, 255);
    border: 0px;
    width: 80px;
    height: 30px;
    background-color: #283624;
}

.form-div .form-file{
    /* top: 150px;
    font-family: calibri;
    width: 100%;
    padding: 5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 5px;

    text-align: center;
    background-color: rgb(150, 183, 133);
    cursor: pointer; */
    margin-bottom: 10px;
}

 .form-div .form_select_data select{
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
}

.form-div .input-title{
    font-size: 20px;
} 