{% extends 'DataBase/base.html' %}
{% load static %}
{% block content %}

    <div id='upload_form' style="margin: 20px;">
        <div class="col-lg-6 pe-lg-0 wow fadeInRight" data-wow-delay="0.1s" style="min-height: 400px;">
            {% csrf_token %}
            <div class="bg-light text-center p-5 wow fadeIn" data-wow-delay="0.5s">
                {% csrf_token %}
                    <div class="row g-3" id="upload-form">
                        <div class="col-12 col-sm-6 w-100">
                            <h5 id="post-error"> </h5>
                        </div>

                        <div class="col-12 col-sm-6 w-100">
                            <span> Upload Type </span>
                            <select id='upload_type' class="form-select border-0"  style="height: 55px;">
                                <option value="" selected='true'  >Select Upload Type</option>
                                <option value="tsv">New Data</option>
                                <option value="json">Backup Data</option>
                            </select>
                        </div>

                        <div class="col-12 col-sm-6 w-100">
                            <span> Experiment Type </span>
                            <select id="experiment_type" class="form-select border-0"  style="height: 55px;">
                                <option value="" selected='true' >Select Experiment Type</option>
                                <option value="dimethyl">Dimethyl</option>
                                <option value="iTRAQ">iTRAQ</option>
                                <option value="TMT">TMT</option>
                                <option value="label-free">Label-free</option>
                                <option value="mixed-label">Mixed-label</option>
                            </select>
                        </div>

                        <div class="col-12 col-sm-6 w-100">
                            <span> Experiment Title</span>
                            <input id="experiment_title" type="text" name="title" class="form-control border-0" placeholder="Experiment Title" style="height: 55px;">
                        </div>

                        <div class="col-12 col-sm-6 w-100">
                            <span> Reference Link </span>
                            <input id="experiment_ref_link" type="text" name="title"  class="form-control border-0" placeholder="Reference Link" style="height: 55px;">
                        </div>

                        <div class="col-12">
                            <textarea id="experiment_detail_text" class="form-control border-0" name="details" placeholder="Note"></textarea>
                        </div>

                        <div id="dropTarget" style="width: 500px; height: 200px; border: 2px dashed #aaa; text-align: center; padding: 70px 0;">
                            Drop files here to upload
                        </div>
                        <br>
                
                        <h3> Or </h3>
                
                        <br>
                        <input type="file" id="browseButton" value="Browse Files">

                        <div id='file_name_to_display'> </div>

                        <div id="back_upload_button_div"> <button  id="back_upload_button" class="form-button" type="submit">Submit</button></div>
                    </div>
            </div>
        </div>
    </div>
    <div id='data_upload_status' style="margin: 50px;">
        <span> Uploading the Data..<i class="fa fa-spinner fa-spin" style="font-size:24px"></i></span> 
    </div>

     
 <div style="width:80%; float:left; overflow:scroll; background-color: rgb(219,220,214); margin:2%"> 
    <div><h4 style="margin: 10px; color:red;"> Make sure before you upload a file: </h4> <p style="margin:10px; font-size:20px;"><b> Prepare a tab separated data-file in the given format and keep the column order as mentioned in the example below...</b></p></di> 
    <table class="table table-bordered" style="margin:10px;">
      <thead class="thead-dark">
        <tr>
            <th>Protein Accession</th>
            <th>Gene Symbol</th>
            <th>Protein name</th>
            <th>Cleavage site</th>
            <th>Peptide sequence</th>
            <th>Annotated sequence</th>
            <th>Cellular Compartment</th>
            <th>Species </th>	
            <th>Database identified </th>
            <th>Discription</th>
            <th>Reference</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <td>Q778P6</td>
        <td>ATEG</td>
        <td>Cox 2 protein</td>
        <td>1955</td>
        <td>QILNEEVVEQ</td>
        <td>[K].QILNEVVEQ.[R]</td>
        <td>Cytoplasm</td>
        <td>Mouse</td>
        <td>OA-cartilage</td>
        <td>NA</td>
        <td>http://doi.org/10.1038/s41598-023-42576-2</td>
        </tr>
        <tr>
        <td>Q7RTP6</td>
        <td>MICAL3</td>
        <td>[F-actin]-monooxygenase</td>
        <td>1955</td>
        <td>QILNEMLEVVEQ</td>
        <td>[K].QILNEMLEVVEQ.[R]</td>
        <td>Cytoplasm</td>
        <td>Human</td>
        <td>OA-cartilage</td>
        <td>NA</td>
        <td><a=f>http://doi.org/10.1038/s41598-023-42576-2<a/></td>
        </tr>
      </tbody>
    </table>
  </div>  
</div>



    <!-- CSRF token -->
    <script src="{% static 'js/backup_upload.js' %}"></script> 
{% endblock %}