{% extends 'DataBase/base.html' %}
{% load static %}
{% block content %}

    <script src="{% static 'js/test.js' %}"></script>

    <div style="margin: 20px;">
        <h2>Upload a file...</h2>
        <h4 id="file-upload-progress"> </h4>

        <div id="dropTarget" style="width: 500px; height: 200px; border: 2px dashed #aaa; text-align: center; padding: 70px 0;">
            Drop files here to upload
        </div>
        <br>

        <h3> Or </h3>

        <br>
        <input type="button" id="browseButton" value="Browse Files">
    </div>

    <!-- CSRF token -->
    <script>
        const csrftoken = getCookie('csrftoken');

        function getCookie(name) {
            const cookieValue = document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)');
            return cookieValue ? cookieValue.pop() : '';
        }
    </script>

    <script>
        let r = new Resumable({
            target: '/upload_chunk/',
            chunkSize: 4 * 1024 * 1024,
            simultaneousUploads: 3,
            testChunks: false,
            throttleProgressCallbacks: 1,
            headers: { 'X-CSRFToken': csrftoken }
        });

        r.assignDrop(document.getElementById('dropTarget'));
        r.assignBrowse(document.getElementById('browseButton'));

        r.on('fileAdded', function(file, event) {
            r.upload();
        });

        r.on('fileSuccess', function(file, message) {
            console.log('File upload completed');
            var file_name = file.file.name
            console.log(file.uniqueIdentifier)
            window.location.href = `/merge_chunks/?file_id=${file.uniqueIdentifier}&total_chunck=${file.chunks.length}&file_name=${file_name}`
        });

        r.on('fileProgress', function(file) {
            let progress = parseFloat(file.progress() * 100).toFixed(2);
            console.log('File progress:', progress);
            document.querySelector('#file-upload-progress').textContent = `${progress}% Uploaded`

        });

    </script>

{% endblock %}