{% load static %}
<!DOCTYPE html>
<!-- Template by Quackit.com -->
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>PROTEOMICS</title>
        <meta name="description" content="Demo of Material design portfolio template by TemplateFlip.com."/>
        <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;amp;lang=en" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-indigo.min.css" />
        <link href="{% static 'styles/main.css' %}" rel="stylesheet">
        <link href="{% static 'styles/ruler.css' %}" rel="stylesheet">
        <link href="{% static 'img/site-logo.png' %}" rel="shortcut icon"/>
    </head>
    <body id="top">
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <!-- Navigation -->
            
            <main class="mdl-layout__content">
                <!-- Menu -->
                <header class="mdl-layout__header mdl-layout__header--waterfall site-header">
                    <div class="mdl-layout__header-row site-logo-row"><span class="mdl-layout__title">
                        <div class="site-logo"><img src = "{% static 'img/site-logo.png' %}"></div>
                        <span class="site-description">PROTEOMICS</span></span></div>
                        <div class="mdl-layout__header-row site-navigation-row mdl-layout--large-screen-only">
                            <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font"><a class="mdl-navigation__link" href="{% url 'HomePage' %}">Home</a><a class="mdl-navigation__link" href="{% url 'AboutPage' %}">About</a><a class="mdl-navigation__link" href="{% url 'DB' %}">Database</a>
                                <!--<a class="mdl-navigation__link" href="{% url 'HelpPage' %}">Help</a>-->
                        </nav>
                    </div>
                </header>
                <div class="mdl-layout__drawer mdl-layout--small-screen-only">
                    <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font"><a class="mdl-navigation__link" href="{% url 'HomePage' %}">Home</a><a class="mdl-navigation__link" href="{% url 'AboutPage' %}">About</a><a class="mdl-navigation__link" href="{% url 'DB' %}">Database</a>
                        <!--<a class="mdl-navigation__link" href="{% url 'HelpPage' %}">Help</a>-->
                </nav>
            </div>
            <div class="wrapper" id = "page-loader">
                <div class="loader">
                    <div class="wave top-wave">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="wave bottom-wave">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
            <!-- Menu -->
            <!-- Content -->
            {% block content %}
            {% endblock %}
            <!-- /.container -->
            <!-- Footer -->
            <footer class="mdl-mini-footer">
                <div class="footer-container">
                    <div class="mdl-logo">&copy; Copyright. All Rights Reserved</div>
                    <ul class="mdl-mini-footer__link-list">
                        <li><a href="#">Privacy & Terms</a></li>
                    </ul>
                </div>
            </footer>
            <script src="https://code.getmdl.io/1.3.0/material.min.js" defer></script>
            <!--<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
            <script>
                window.onload = function(e){ 
                    var x = document.getElementById("page-loader");
                    x.style.display = "none";
                }
            </script>
            <!-- Footer -->
        </main>
    </div>
    
</body>
</html>