{% extends 'DataBase/base.html' %}
{% load static %}
{% block content %}

<div class="form-div">
  <h2 class="mdl-card__title-text">Report bugs </h2>
  <form action="{%url 'bugs' %}" method="POST" enctype="multipart/form-data" class="form-contact" style="width: 30%;">
    {%csrf_token%}
    {% for error in form.non_field_errors %}
    <div class="form-group has-errors text-danger small">
        {{error}}
    </div>
    {% endfor %}
    {% for field in form %}
    <div class="form-group has-errors text-danger small">
        {{field.errors}}
    </div>
    <div class="form-group has-errors text-danger small">
    </div>
    {% endfor %}

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <div class="input-title">
        <span> Title</span>
      </div>
        {{form.title}}
    </div>

    <div id="bug-description", class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <div class="input-title">
        <span> Brief description</span>
      </div>
        {{form.bug_description}}
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <div class="input-title">
        <span> Who is submitting</span>
      </div>
        {{form.user_name}}
    </div>

    <button class="form-button" type="submit">Submit</button>
  </form>
</div>

{% endblock %}