{% extends 'DataBase/base.html' %}
{% load static %}
{% block content %}

    <div class="main">
        <div class='form-div'>
            <div class="contact">
                <h1>  <a href="https://www.lerner.ccf.org/bme/apte/" target="_blank" style="color: rgb(255, 255, 255); margin-left: 20px;">APTE LABORATORY</a> </h1>
            </div>

            <div class="contact">
                <h1>  <a href="{% url 'bugs' %}"  style="color: rgb(5, 5, 5); margin-left: 20px; font-size: 30px;">Report a Bug</a> </h1>
            </div>

            <div class="contact">
                <h1>  <a href="{% url 'data_upload' %}" target="_blank" style="color: rgb(5, 5, 5); margin-left: 20px; font-size: 30px;">Upload Data</a> </h1>
            </div>

            <div class="contact">
                <h1>  <a href="{% url 'download_data_report' %}" target="_blank" style="color: rgb(5, 5, 5); margin-left: 20px; font-size: 30px;">Upload Data Report</a> </h1>
            </div>
        </div>
    </div>

{% endblock %} 