
{% extends 'DataBase/base.html' %}
{% load static %}
{% block content %}

<head>
    <script type="text/javascript"> 
        var temp_acc = "{{acc}}"
        var temp_des = "{{des}}"
    </script>
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/table/custom.css' %}">
    <script src="{% static 'js/table.js' %}"></script>
</head>
    <div class="db-table">
        <div id="toolbar">
            <select class="form-control dt-tb">
                <option value="selected">Download Data</option>
                <option value="all">Export All</option>
            </select>
        </div>
        <table id="table">
            <thead>
                <tr>
                    <th data-field="id">ID</th>
                    <th data-field="peptide_sequence" >Peptide Sequence</th>
                    <th data-field="accession" >Accession</th>
                    <th data-field="gene_symbol" >Gene Symbol</th>
                    <th data-field="protein_name" >Protein Name</th>
                    <th data-field="cleavage_site">Cleavage Side</th>
                    <th data-field="annotated_sequence" >Annotated Sequence</th>
                    <th data-field="cellular_compartment" >Cellular Compartment</th>
                    <th data-field="species" >Species</th>
                    <th data-field="database_identified" >Database Identified</th>
                    <th data-field="description" >Description</th>
                    <th data-field="reference" >Reference</th>
                </tr>
            </thead>
            <tbody>
                <!-- Create rows dynamically by table.js-->
            </tbody>
        </table>
    </div>
{% endblock %}
