{% extends 'DataBase/base.html' %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>


{% block content %}

<div style=" color: #1f5a09; margin: auto; margin-top: 0px; height: 200px; border: 1px solid green; box-sizing: border-box;background: #ffbf00; width: 900px;margin-bottom: 5px; margin-top: 20px"; >
  <p align="cente" style="margin-left:3em;" > <font color="black" size="4"> <b> Help </b>  </font> </p> 
  <p align="cente" style="margin-left:3em; margin-top:3em;" > <font color="black" size="4"> <b> Example DATASET </b>  </font> </p> 
  <p align="cente" style="margin-left:3em; margin-top:1em;" > <font color="black" size="4">  <font color="black"> <b> Click here to download example DATASET </b> </font> </a> </p>

<div style="margin-left: 20px">


</div>

</div>





{% endblock %}
