{% extends 'DataBase/base.html' %}
{% load static %}
{% block content %}
    <div class="site-content">
        <div class="container">
            <div class="mdl-grid site-max-width">
                <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp welcome-card portfolio-card">
                    <div class="mdl-card__title">
                    </div>
                    <div class="mdl-card__supporting-text">
                        Proteomics is the large-scale study of proteins. Proteins are vital parts of living organisms, with many functions. The proteome is the entire set of proteins that is produced or modified by an organism or system. Proteomics has enabled the identification of ever increasing numbers of protein.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}