{% extends 'DataBase/base.html' %}
{% load static %}
{% block content %}

<h1>{{ param }}</h1>

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
<!-- jQuery (required by DataTables) -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<!-- DataTables JS -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>

<div class='table-div' id="hostname" data-hostname="{{host_name}}" data-acc="{{acc }}"  data-des="{{ des }}"  data-pep="{{ pep }}">

    <table id="sampleTable" class="display" style="width:100%">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Peptide Sequence</th>
                <th>Accession</th>
                <th>Gene Symbol</th>
                <th>Protein Name</th>
                <th>Cleavage Site P1 Residue</th>
                <th>Annotated Sequence</th>
                <th>Cellular Compartment</th>
                <th>Species</th>
                <th>Source</th>
                <th>Description</th>
                <th>Reference</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

<div id="toolbar" style="border-top: 1px solid black">
    <button class="btn btn-danger" id="export_data" style="margin: 5px;" type="submit"> Export Data as TSV File</button>
</div>  

<!-- <link rel="stylesheet" href="{% static 'css/table/custom.css' %}"> -->

<script src="{% static 'js/table.js' %}"></script>

</div > 



{% endblock %}