{% extends 'DataBase/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/forms.css' %}">

  <div class="form-div" >
    {% csrf_token %}
    <h2 class="mdl-card__title-text">Upload data </h2>
    {% csrf_token %}
    {% comment %} <form action="{% url 'data_upload' %}" method="POST" enctype="multipart/form-data" class="form-contact" style="width: 40%;"> {% endcomment %}
      {%csrf_token%}
      {% for error in form.non_field_errors %}
      <div class="form-group has-errors text-danger small">
          {{error}}
      </div>
      {% endfor %}
      {% for field in form %}
      <div class="form-group has-errors text-danger small">
          {{field.errors}}
      </div>
      {% endfor %}

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <div class="input-title">
          <span> Experiment title </title></span>
        </div>
        {{form.experiment_name}}
      </div>

      <div class="form_select_data">
        <div class="input-title">
          <span> Experiment Type</span>
        </div>
        {{form.experiment_type}}
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <div class="input-title">
          <span>Reference number </span>
        </div>
        {{form.reference_number}}
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <div class="input-title">
          <span> Reference link </span>
        </div>
        {{form.reference_link}}
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <div class="input-title">
          <span> Who is uploading the file</span>
        </div>
        {{form.user}}
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <div class="input-title">
          <span>Description of the data</span>
        </div>
        {{form.description}}
      </div>
      <div class="form-file">
          {{form.file}}
      </div>

      <button id="tsv_upload" class="form-button" type="submit">Submit</button>
    {% comment %} </form> {% endcomment %}

  </div>
 
 <div style="width:80%; float:left; overflow:scroll; background-color: rgb(219,220,214); margin:2%"> 
    <div><h4 style="margin: 10px; color:red;"> Make sure before you upload a file: </h4> <p style="margin:10px; font-size:20px;"><b> Prepare a tab separated data-file in the given format and keep the column order as mentioned in the example below...</b></p></di> 
    <table class="table table-bordered" style="margin:10px;">
      <thead class="thead-dark">
        <tr>
          <th>Protein Accession</th>
          <th>Gene symbol</th>
          <th>Protein name</th>
          <th>Cleavage site</th>
          <th>Peptide sequence</th>
          <th>Annotated sequence</th>
          <th>Cellular Compartment</th>
          <th>Species</th>
          <th>Database identified</th>
          <th>Description</th>
          <th>Reference</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <td>Q778P6</td>
        <td>ATEG</td>
        <td>Cox 2 protein</td>
        <td>1955</td>
        <td>QILNEEVVEQ</td>
        <td>[K].QILNEVVEQ.[R]</td>
        <td>Cytoplasm</td>
        <td>Mouse</td>
        <td>OA-cartilage</td>
        <td>NA</td>
        <td>1</td>
        </tr>
        <tr>
        <td>Q7RTP6</td>
        <td>MICAL3</td>
        <td>[F-actin]-monooxygenase</td>
        <td>1955</td>
        <td>QILNEMLEVVEQ</td>
        <td>[K].QILNEMLEVVEQ.[R]</td>
        <td>Cytoplasm</td>
        <td>Human</td>
        <td>OA-cartilage</td>
        <td>NA</td>
        <td>1</td>
        </tr>
      </tbody>
    </table>
  </div>  
</div>


<script src="{% static 'js/backup_upload.js' %}"></script> 

{% endblock %}